version: '3.7'

services:
  database:
    container_name: database
    restart: always
    ports:
      - "5432:5432"

    env_file:
      - ./dev-env/database.env

    image: postgres:17.6-trixie

    volumes:
      - ./database/data:/var/lib/postgresql/data